*{
    margin: 0px;
    padding: 0px;
}

.menu li {
    float: left;
    list-style: none;
    margin: 10px 25px;
}

.menu {
    margin:auto;
    display: table;
}
.Block-menu {
    overflow: hidden;
    background: #000000b4;
    box-shadow: 0px 15px 17px -6px #000000a1;
}

.menu li a {
    font: 18px Verdana;
    color:rgba(255, 255, 255, 0.813);
    text-decoration: none;
}

.menu li a:hover {
font: 18px Verdana;
color:#b9b9b9;
}

.logo {
    margin: 0 auto;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.content {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.content h2 {
    font: 30px Verdana;
    color: #444;
    text-align: center;
}

.content p {
    font: 14px Verdana;
    color: #444;
    text-indent: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    background-color: #b9b9b9;
    box-shadow: 0px 0px 10px 10px #b9b9b9
}

.footer p, .footer a {
    font: 14px Verdana;
    color: #444;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    font: 15px Verdana;
    color: #b9b9b9;
}